body {
  background-color: #ecf0f1; /* Couleur de fond */
  padding: 20px;
}
/* detail.css */
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Cela assure que le contenu est centré verticalement sur toute la hauteur de la vue. */
}

.card {
  width: 50%; /* Ajustez la largeur selon vos besoins */
  margin: auto; /* Cela centre la carte horizontalement */
  padding: 20px;
}

/* Style supplémentaire si nécessaire */
.card img {
  max-width: 100%; /* Assurez-vous que les images s'ajustent à la largeur de la carte */
}


.card {
  background-color: #fff; /* Couleur de fond de la carte */
  border: 1px solid #bdc3c7; /* Bordure gris clair */
  border-radius: 10px; /* Coins arrondis */
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(250, 19, 19, 0.1); /* Ombre légère */
}

h2 {
  text-align: center;
  color: #68a9d4; /* Couleur bleue */
}

a.btn {
  color: #3498db; /* Couleur bleue pour le texte */
  border: 2px solid #3498db; /* Bordure bleue */
  background: linear-gradient(to right, #bdc3c7, #3498db); /* Dégradé de gris à bleu */
  padding: 10px 20px; /* Espacement intérieur */
  text-decoration: none; /* Supprimer le soulignement du lien */
  display: inline-block; /* Pour aligner plusieurs boutons horizontalement */
  margin-right: 10px; /* Marge à droite entre les boutons */
  border-radius: 5px; /* Coins arrondis */
  transition: background 0.3s, color 0.3s; /* Transition en douceur */
}

a.btn:hover {
  background: transparent; /* Fond transparent au survol */
  color: #fff; /* Texte blanc au survol */
}